
.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background);



    /*border: 1px solid #002aff;*/


}

.movies {
    padding-top: calc(30px + 20px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: var(--wrap-width);
    overflow: hidden;
    /*height: calc(100vh - 60px - 600px);*/


}