
.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*border: 1px solid #002aff;*/


}

.movies{
    padding-top:  calc(30px + 20px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    max-width: 1440px;

    /*border: 1px solid red;*/
}