.genreList {
    position: fixed; /* фіксує компонент в певній позиції */
    top: var(--heder-height); /* закріплює компонент до верхньої частини сторінки */
    left: 0; /* закріплює компонент до лівого краю */
    right: 0; /* розтягує компонент по ширині на всю сторінку */
    z-index: 1000; /* забезпечує, що компонент буде на передньому плані */
    background-color: white; /* додає фон, щоб контент під ним не просвічувався */
    padding: 10px; /* додає відступи навколо компоненту */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* додає легку тінь для кращої видимості */
}

.genreListItems {
    display: flex; /* робить всі елементи списку в один рядок */
    list-style: none; /* прибирає маркери зі списку */
    padding: 0; /* прибирає відступи */
    margin: 0; /* прибирає відступи */
}

.genreListItem {
    margin-right: 10px; /* додає відступ між елементами списку */
}

.genreListItem:last-child {
    margin-right: 0; /* прибирає відступ для останнього елементу */
}