
.header {
    font-family: var(--font-header), sans-serif;
    font-size: var(--font-size-header);
    color: var(--color-text-text-light);
}

.wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: calc(30px + 20px);
    background-color: var(--color-background);
}

.title {
    text-transform: capitalize;
    font-family: var(--font-title), sans-serif;
    font-size: var(--font-size-title);
    color: var(--color-text-text-light);
    letter-spacing: 2px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.senter {
    text-align: center;
}

.link {
    padding-right: 10px;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    font-size: var(--font-size-text);
    cursor: pointer;
    color: var(--color-text-text-light);
}

.link:hover {
    color: var(--color-background-button-light);
    transition: 0.5s;
}

.text {
    font-family: var(--font-text), sans-serif;
    font-size: var(--font-size-text);
    color: var(--color-text-text-light);

}

.block {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px;
}

.miniBlock {
    margin: 0;
    width: calc(var(--wrap-width) / 2 - 10px);
    padding: 10px;
}

