
.title {
    font-family: var(--font-header), cursive;
    font-size: var(--font-size-header);
}

.wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: calc(var(--heder-height) + var(--parallax-height) + 20px);
}

/*p {*/
/*    font-family: 'Exo 2', sans-serif;*/
/*    font-size: 25px;*/
/*    text-transform: capitalize;*/
/*    letter-spacing: 2px;*/
/*    color: #c8563f;*/
/*}*/

.link {
    padding-right: 10px;
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    font-size: var(--font-size-paragraph);
    cursor: pointer;
    color: black;
}

.link:hover {
    color: #8a0000;
    transition: 0.5s;
}

.text {
    font-family: 'Exo 2', sans-serif;
    font-size: 30px;

}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.miniBlock {
    margin: 30px;
}

.block{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}