.header {
    position: fixed; /* Фіксуємо хедер */
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    z-index: 1000; /* Переконайтесь, що хедер поверх всіх інших елементів */
    box-sizing: border-box; /* Ураховує padding у висоті */
}

.header nav ul {
    list-style-type: none;
    /*list-style: none;*/
    margin: 0;
    padding: 0;
}

.header nav ul li {
    display: inline-block;
    margin-right: 10px;

}

.logo {

        text-decoration: none;

        color: #1fed08;

}