.header {
    position: fixed; /* Фіксуємо хедер */
    top: 0;
    left: 0;
    width: calc(100vw - 17px);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-button-light);
    z-index: 100; /* Переконайтесь, що хедер поверх всіх інших елементів */
    box-sizing: border-box; /* Ураховує padding у висоті */
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--wrap-width);
    padding: 10px;

}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.link {

    all: unset; /* Скидає всі стилі */
    text-decoration: none;
    font-family: var(--font-botton), sans-serif;
    font-size: var(--font-size-button);
    cursor: pointer;
    color: var(--color-text-button-light);
    overflow: hidden; /* Приховування тексту, що не вміщується */
    white-space: nowrap; /* Заборона переносу тексту */
    transition: background-color 0.3s ease;
    margin: 0 10px;
}

.active {
    font-family: var(--font-botton), sans-serif;
    font-size: var(--font-size-button);
    text-shadow: var(--color-text-shadow-dark);
    font-weight: 800;
}

.link:hover {
    cursor: pointer;
}

.image {
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Плавний перехід */
}

.image:hover {
    transform: scale(1.1); /* Збільшення зображення при наведенні */
}

.image:active {
    transform: scale(0.5); /* Зменшення зображення при натисканні */
}