.header {
    position: fixed; /* Фіксуємо хедер */
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-background-button-light);
    z-index: 100; /* Переконайтесь, що хедер поверх всіх інших елементів */
    box-sizing: border-box; /* Ураховує padding у висоті */
}

.wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--wrap-width);
    padding: 10px;
    box-sizing: border-box;
}

.header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header nav ul li {
    display: inline-block;
    margin-right: 10px;

}

.logo {
    text-decoration: none;
    font-family: var(--font-botton), sans-serif;
    font-weight: bold;
    font-size: var(--font-size-button);
    cursor: pointer;
    color: var(--color-text-button-light);

}