.wrap {
    background-color: #007bff; /* Основний колір кнопки */
    color: white; /* Колір тексту */
    border: 1px solid #ccc; /* Відсутність обведення */
    padding: 10px 10px; /* Внутрішній відступ */
    font-size: 16px; /* Розмір шрифту */
    border-radius: 8px; /* Скруглені кути */
    cursor: pointer; /* Зміна курсору на pointer */

    overflow: hidden; /* Приховування тексту, що не вміщується */
    white-space: nowrap; /* Заборона переносу тексту */
    transition: background-color 0.3s ease; /* Анімація зміни кольору */
}

.active {
    background-color: #002881; /* Колір кнопки в активному стані */
}

.wrap:hover {
    background-color: #0069d9; /* Зміна кольору при ховері */
}