/* Паралакс ефект для зображення */
.wrap {
    background-attachment: fixed; /* Задає фіксовану позицію фону при прокрутці */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid red;*/

}

/* Паралакс фон */
.wrap::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: var(--wrap-width);
    height: var(calc(var(--heder-height) + var(--parallax-height)));
    /*background-color: rgba(0, 0, 0, 0.5); !* Темний фон з прозорістю *!*/
    background-color: black; /* Темний фон з прозорістю */
    z-index: -1; /* Задаємо нижчий z-index ніж у контенту */
}

.titleBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: calc(var(--parallax-height) - 20px);
    width: var(--wrap-width);
    /*border: 1px solid black;*/
}

/* Заголовок на паралаксовому фоні */
.title {
    /*position: absolute;*/
    /*top: calc(var(--parallax-height) - 20px);*/
    left: 10px;
    color: var(--color-title-title-light);
    text-shadow: var(--color-text-shadow-light); /* Біла тінь */
    z-index: 10;
    font-size: var(--font-size-title);
    font-weight: bold;
    padding: 22px;
    background-color: var(--parallax-background-colour); /* Легка прозорість фону */
    border-radius: var(--border-radius);
}

/* Контейнер для зображення */
.imageWrapper {
    position: absolute; /* Додаємо позиціювання для анімації */
    top: 60px;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-color: rgba(30, 31, 34, 0.25);
    height: var(--parallax-height);


}

/* Зображення з паралакс ефектом */
.image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    object-fit: cover;
    opacity: 0; /* Спочатку прихована */
    animation: fadeInOut 5s ease-in-out infinite; /* Анімація появи і зникнення */


}

/* Анімація зображення */
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: scale(1.05); /* Злегка збільшена */
    }
    20% {
        opacity: 1;
        transform: scale(1);
    }
    80% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.05); /* Злегка збільшена */
    }
}

@keyframes fadessInOut {
    0% {
        opacity: 0;
        transform: scale(1.05); /* Злегка збільшена */
    }
    5% {
        opacity: 1;
        transform: scale(1);
    }
    95% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.05); /* Злегка збільшена */
    }
}
