.form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: transparent; /* Прозорий фон */
    border: none; /* Видалити рамку */
    cursor: pointer; /* Зміна курсора на "pointer" */
    padding: 5px; /* Видалити відступи */
    transition: transform 0.3s ease; /* Плавний перехід */
}

.button:hover {
    transform: scale(1.1); /* Збільшення зображення при наведенні */
}

.button:active {
    transform: scale(0.9); /* Зменшення зображення при натисканні */
}

.input {
    height: 30px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    font-family: var(--font-text), sans-serif;
    font-size: var(--font-size-text);
    transition: box-shadow 0.15s ease;

}

.input:focus {
    outline: none; /* Видалити стандартний контур */
    box-shadow: var(--color-text-shadow-dark); /* Додати тінь */
    border-color: transparent; /* Сховати рамку при фокусуванні */
}