.wrap {
/*background-color: red;*/
}

.active {
    color: red;

    background-color: aqua;

    border-bottom: 1px solid #002aff;
    font-weight: bold; /* Наприклад, ви можете підкреслити активне посилання */
    color: red; /* Встановлює колір для активного посилання */

}