.wrap {
    box-sizing: border-box;
}

.active {

    font-family: var(--font-botton), sans-serif;
    font-size: var(--font-size-button);
    text-shadow: var(--color-text-shadow-dark);

    font-weight: 800;

}

.link {
    text-decoration: none;
    font-family: var(--font-botton), sans-serif;
    font-size: var(--font-size-button);
    cursor: pointer;
    color: var(--color-text-button-light);
}

