.wrap {
/*background-color: red;*/
}

.active {
    color: red;

    background-color: #002aff;

    border: 1px solid #ff0000;
    font-weight: bold; /* Наприклад, ви можете підкреслити активне посилання */
padding: 5px;

}

.link {
    text-decoration: none;

    color: #1fed08;
}