.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    width: 100%; /* Робить контейнер повної ширини */

}

.moviesLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: var(--mainPageBlock-height);
    width: calc(var(--wrap-width) - 180px);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-background-button-light);
}

.tytle {
    text-decoration: none;

    position: relative;
    top: 16px;
    right: -570px;

    font-family: var(--font-botton), sans-serif;
    background-color: var(--color-background-button-light); /* Основний колір кнопки */
    color: var(--color-text-button-light); /* Колір тексту */
    border: 1px solid #ccc; /* Відсутність обведення */
    padding: 5px 10px; /* Внутрішній відступ */
    font-size: var(--font-size-button); /* Розмір шрифту */
    border-radius: var(--border-radius); /* Скруглені кути */
    cursor: pointer; /* Зміна курсору на pointer */
    overflow: hidden; /* Приховування тексту, що не вміщується */
    white-space: nowrap; /* Заборона переносу тексту */
    transition: background-color 0.3s ease; /* Анімація зміни кольору */
}