.wrap {
    width: 90px;
    height: 145px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 5px;
}

.image {
    width: 80px;
    height: 100px;
    border-radius: var(--border-radius);
}

.text {
    padding: 5px;
    /*white-space: nowrap; !* Забороняє переносити текст на новий рядок *!*/
    overflow: hidden; /* Приховує текст, що не вміщується */
    text-overflow: ellipsis; /* Додає трикрапку, якщо текст не вміщується */
    max-width: 100%; /* Максимальна ширина тексту */
    color: var(--color-text-text-light) ;
}

.imageNot {
    width: 60px;
    height: 100px;
    border-radius: var(--border-radius);
}